- var raymond = site.raymond
doctype html
html(lang="en")
	include head.pug
	body
		header
			div
				h1 Raymond Smith
				small web development, cybersecurity, business development
			div(itemscope itemtype="https://schema.org/Person") 
				div
					span
						include ../resources/icons/user.svg
					p(itemprop="name")
						span(itemprop="givenName") #{raymond.givenName}&nbsp;
						span(itemprop="familyName") #{raymond.familyName}
				div(itemscope itemprop="address" itemtype="https://schema.org/PostalAddress")
					span
						include ../resources/icons/map.svg
					p
						span(itemprop="streetAddress") #{raymond.address.streetAddress} <br>
						span(itemprop="addressLocality") #{raymond.address.addressLocality} <br>
						span(itemprop="addressCity") #{raymond.address.addressCity} <br>
						span(itemprop="postalCode") #{raymond.address.postalCode}
				div
					span
						include ../resources/icons/phone.svg
					p
						span.tel(itemprop="telephone") #{raymond.telephone.mobile}
				div
					span
						include ../resources/icons/mail.svg
					p
						a(href="mailto:"+raymond.email itemprop="email") #{raymond.email}
		main
			article
				block body
					<!-- content -->
