//-
	div.logo
		include ./images/loewenmensch_black.pug
		div.full_title.flex_column
			h1.maintitle#techsovereign TECHSOVEREIGN.IO
			div.subtitle.flex_column
				span Building Technology <br>
				span Defending Sovereignty 
address.vcard(itemscope, itemtype="https://schema.org/Organization")
	div.name_row
		span(itemprop="name") #{organization}
	div.founder_row(itemscope, itemprop="founder", itemtype="https://schema.org/Person") 
			span(itemprop="givenName") #{founder_given_name} &nbsp;
			span(itemprop="familyName") #{founder_family_name}
	div.postal_address_row(itemscope, itemprop="address", itemtype="https://schema.org/PostalAddress")
		span.icon
			i.fa.fa-map-marker
		span.value
			span(itemprop="streetAddress") #{address_street} <br>
			span(itemprop="addressLocality") 
				span #{address_district} <br>
				span #{address_city} <br>
			span(itemprop="postalCode") 2110
	div.phone_row
		span.icon
			i.fa.fa-phone.fa-4x
		span.value
			span.tel(itemprop="telephone") #{phone_land}
			span.tel(itemprop="telephone") #{phone_mobile}
	div.email_row
		span.icon
			i.fa.fa-envelope.fa-4x
		span.value
			span.email
				a(href="mailto:"+email) 
					span(itemprop="email") #{email}
